.profile {
    color: black;
}

.description {
    color: black;
}

.name {
    color: black;
}

.tag {
    color: black;
}

.location {
    color: black;
}

.stats {
    color: black;
}

.label {
    color: black;
}

.quantity {
    color: black;
}