.item {
    display: flex;
    align-items: center;
    width: 250px;
    height: 50px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px;
}
.status {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: yellow;
    margin-left: 10px;
}
.true {
    background-color: red;
}
.false {
    background-color: green;
}
.avatar {
    margin-left: 10px; 
}
.name {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
}